[Unit]
Description=Dirhami.ma Flask App
After=network.target

[Service]
User=dirhami
Group=www-data
WorkingDirectory=/var/www/dirhami.ma/backend
Environment="PATH=/var/www/dirhami.ma/backend/venv/bin"
ExecStart=/var/www/dirhami.ma/backend/venv/bin/gunicorn --workers 3 --bind unix:dirhami.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
